﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <label>Please enter your user id: </label>
    <input type="text" class="user-id-text" id="user-id-input" />
    <br><br>
    @if (Model != null)
    {
        {
            <table>}
                foreach (var row in Model.Rows)
                {<tr>}
                    foreach(var cell in row.Cells)
                    {<td>}cell.Value{</td>}
                    {</tr>}
                {</table>
        }
    }
    else
    {
        <br><br><button>Start new puzzle</button>
    }
</div>
